<div class="panel panel-white">
    <div class="panel-heading bg-light-azure no-radius">
        <h5 class="panel-title">สถานที่สำคัญใกล้เคียง</h5>
        <ul class="panel-heading-tabs border-light">
            <li>
                <button ng-disabled="inputDisabled" type="button" class="btn btn-o btn-squared border-white" ng-click="addLandMark()">
                    <i class="ti-plus"></i> {{'BUTTON.ADD'|translate}}
                </button>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover" id="sample-table-4">
            <thead>
                <tr>
                    <th class="col-md-3">{{'LANDMARK_NAME'|translate}}</th>
                    <th class="col-md-3">{{'LANDMARK_LENGTH'|translate}}</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in formData.LANDMARK" ng-if="!item.DELETE">
                    <td>{{item.LANDMARK_NAME}}</td>
                    <td>{{item.LANDMARK_LENGTH}}</td>
                    <td class="center">
                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                            <a ng-if="!inputDisabled" href="#" ng-click="modLandMark(item)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i class="fa fa-pencil"></i></a>
                            <a ng-if="!inputDisabled" href="#" ng-click="item.DELETE=true" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i class="fa fa-times fa fa-white"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
