<div class="panel panel-white">
    <div class="panel-heading bg-light-azure no-radius">
        <h5 class="panel-title">ข้อมูลเรือ</h5>
    </div>
    <div class="panel-body">
        <fieldset class="no-radius">
            <div class="form-group" ng-class="{'has-error':form.REGIS_NO.$dirty && form.REGIS_NO.$invalid, 'has-success':form.REGIS_NO.$valid}">
                <label ng-class="labelControlCss" for="REGIS_NO">
                    เลขทะเบียนเรือ<span class="symbol required"></span>
                </label>
                <div ng-class="formControlCss">
                    <input required type="text" placeholder="" class="form-control" id="REGIS_NO" name="REGIS_NO" ng-model="formData.REGIS_NO" maxlength="30">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="SURVEY_APPR_DATE">
                    {{'SURVEY_APPR_DATE'|translate}}
                </label>
                <div class="col-sm-8">
                    <input datepicker-popup="dd/MM/yyyy" is-open="dpOpenState.SURVEY_APPR_DATE" ng-click="openDatePicker($event,'SURVEY_APPR_DATE')" type="text" class="form-control" ng-model="formData.SURVEY_APPR_DATE" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="APPR_CUR_NET_TOTAL">
                    ราคาประเมินหลักทรัพย์
                </label>
                <div class="col-sm-8">
                    <input format type="text" class="form-control" ng-model="formData.APPR_CUR_NET_TOTAL" id="APPR_CUR_NET_TOTAL" name="APPR_CUR_NET_TOTAL" />
                </div>
            </div>
            <div class="form-group">
                <label ng-class="labelControlCss" for="REGIS_DATE">
                    {{'REGIS_DATE'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <input type="text" datepicker-popup="dd/MM/yyyy" is-open="dpOpenState.REGIS_DATE" ng-click="openDatePicker($event,'REGIS_DATE')" class="form-control" id="REGIS_DATE" name="REGIS_DATE" ng-model="formData.REGIS_DATE">
                </div>
            </div>
            <div class="form-group">
                <label ng-class="labelControlCss" for="REGIS_COUNTRY">
                    {{'REGIS_COUNTRY'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <ui-select theme="selectize" ng-model="formData.REGIS_COUNTRY" id="REGIS_COUNTRY" name="REGIS_COUNTRY">
                        <ui-select-match placeholder="">
                            {{$select.selected.NAME_THAI}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectCountry | filter: $select.search">
                            <div ng-bind-html="item.NAME_THAI | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label ng-class="labelControlCss" for="REGIS_PROVINCE">
                    {{'REGIS_PROVINCE'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <ui-select theme="selectize" ng-model="formData.REGIS_PROVINCE" id="REGIS_PROVINCE" name="REGIS_PROVINCE">
                        <ui-select-match placeholder="">
                            {{$select.selected.PROV_NAME}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in selectProvince | filter: $select.search">
                            <div ng-bind-html="item.PROV_NAME | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label ng-class="labelControlCss" for="NAME">
                    {{'SHIP_NAME'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <input type="text" placeholder="" class="form-control" id="NAME" name="NAME" ng-model="formData.NAME" maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label ng-class="labelControlCss" for="USAGE">
                    {{'SHIP_USAGE'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <input type="text" placeholder="" class="form-control" id="USAGE" name="USAGE" ng-model="formData.USAGE" maxlength="300">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':form.HORSE_POWER.$dirty && form.HORSE_POWER.$invalid}">
                <label ng-class="labelControlCss" for="HORSE_POWER">
                    {{'HORSE_POWER'|translate}} <span class="symbol"></span>
                </label>
                <div ng-class="formControlCss">
                    <input type="text" class="form-control" id="HORSE_POWER" name="HORSE_POWER" ng-model="formData.HORSE_POWER" count maxlength="10">
                </div>
            </div>
            <div class="form-group">
                <label ng-class="labelControlCss" for="BODY">
                    {{'SHIP_BODY'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <input type="text" placeholder="" class="form-control" id="BODY" name="BODY" ng-model="formData.BODY" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label ng-class="labelControlCss" for="TONNAGE">
                    {{'TONNAGE'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <input count type="text" maxlength="10" class="form-control" id="TONNAGE" name="TONNAGE" ng-model="formData.TONNAGE">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':form.YEAR.$dirty && form.YEAR.$invalid}">
                <label ng-class="labelControlCss" for="YEAR">
                    {{'MADE_YEAR'|translate}} <span class="symbol"></span>
                </label>
                <div ng-class="formControlCss">
                    <input required year type="text" maxlength="4" ng-max="9999" class="form-control" id="YEAR" name="YEAR" ng-model="formData.YEAR" />
                </div>
            </div>
            <div class="form-group">
                <label ng-class="labelControlCss" for="TAX_DUE_DATE">
                    {{'TAX_DUE_DATE'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <input type="text" datepicker-popup="dd/MM/yyyy" is-open="dpOpenState.TAX_DUE_DATE" ng-click="openDatePicker($event,'TAX_DUE_DATE')" class="form-control" id="TAX_DUE_DATE" name="TAX_DUE_DATE" ng-model="formData.TAX_DUE_DATE">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':form.MARKET_NEED.$dirty && form.MARKET_NEED.$viewValue==undefined, 'has-success':form.MARKET_NEED.$viewValue!=undefined}">
                <label ng-class="labelControlCss">
                    {{'MARKET_NEED'|translate}}<span class="symbol required"></span>
                </label>
                <div ng-class="formControlCss">
                    <div ng-repeat="item in radioYN" class="col-sm-3">
                        <div class="form-group radio clip-radio radio-primary">
                            <input required type="radio" name="MARKET_NEED" ng-value="item.VALUE" ng-model="formData.MARKET_NEED" id="MARKET_NEED{{item.VALUE}}" />
                            <label for="MARKET_NEED{{item.VALUE}}">{{ item.NAME }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label ng-class="labelControlCss" for="RESPONSE_MONTH">
                    {{'RESPONSE_MONTH'|translate}}
                </label>
                <div ng-class="formControlCss">
                    <input type="text" count class="form-control" id="RESPONSE_MONTH" name="RESPONSE_MONTH" ng-model="formData.RESPONSE_MONTH">
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-4">
                <fieldset class="no-radius">
                    <legend>{{'AGE_STD'|translate}}</legend>
                    <div class="form-group" ng-class="{'has-error':form.AGE_STD_YEAR.$dirty && form.AGE_STD_YEAR.$invalid, 'has-success':form.AGE_STD_YEAR.$valid}">
                        <label ng-class="labelControlCss" for="AGE_STD_YEAR">
                            {{'YEAR'|translate}}<span class="symbol required"></span>
                        </label>
                        <div ng-class="formControlCss">
                            <input required type="text" min="0" class="form-control" id="AGE_STD_YEAR" name="AGE_STD_YEAR" ng-model="formData.AGE_STD_YEAR" count ng-max="999">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.AGE_STD_MONTH.$dirty && form.AGE_STD_MONTH.$invalid, 'has-success':form.AGE_STD_MONTH.$valid}">
                        <label ng-class="labelControlCss" for="AGE_STD_MONTH">
                            {{'MONTH'|translate}}<span class="symbol required"></span>
                        </label>
                        <div ng-class="formControlCss">
                            <input required type="text" min="0" max="12" class="form-control" id="AGE_STD_MONTH" name="AGE_STD_MONTH" ng-model="formData.AGE_STD_MONTH" count ng-max="11">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-4">
                <fieldset class="no-radius">
                    <legend>{{'AGE_USAGE_REM'|translate}}</legend>
                    <div class="form-group" ng-class="{'has-error':form.AGE_YEAR.$dirty && form.AGE_YEAR.$invalid, 'has-success':form.AGE_YEAR.$valid}">
                        <label ng-class="labelControlCss" for="AGE_YEAR">
                            {{'YEAR'|translate}}<span class="symbol required"></span>
                        </label>
                        <div ng-class="formControlCss">
                            <input required type="text" min="0" class="form-control" id="AGE_YEAR" name="AGE_YEAR" ng-model="formData.AGE_YEAR" count ng-max="999">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.AGE_MONTH.$dirty && form.AGE_MONTH.$invalid, 'has-success':form.AGE_MONTH.$valid}">
                        <label ng-class="labelControlCss" for="AGE_MONTH">
                            {{'MONTH'|translate}}<span class="symbol required"></span>
                        </label>
                        <div ng-class="formControlCss">
                            <input required type="text" min="0" max="12" class="form-control" id="AGE_MONTH" name="AGE_MONTH" ng-model="formData.AGE_MONTH" count ng-max="11">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-4">
                <fieldset class="no-radius">
                    <legend>{{'ES_SALE'|translate}}</legend>
                    <div class="form-group" ng-class="{'has-error':form.ES_SALE_YEAR.$dirty && form.ES_SALE_YEAR.$invalid}">
                        <label ng-class="labelControlCss" for="ES_SALE_YEAR">
                            {{'YEAR'|translate}} <span class="symbol"></span>
                        </label>
                        <div ng-class="formControlCss">
                            <input type="text" min="0" class="form-control" id="ES_SALE_YEAR" name="ES_SALE_YEAR" ng-model="formData.ES_SALE_YEAR" count ng-max="999">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.ES_SALE_MONTH.$dirty && form.ES_SALE_MONTH.$invalid}">
                        <label ng-class="labelControlCss" for="ES_SALE_MONTH">
                            {{'MONTH'|translate}} <span class="symbol"></span>
                        </label>
                        <div ng-class="formControlCss">
                            <input type="text" min="0" max="12" class="form-control" id="ES_SALE_MONTH" name="ES_SALE_MONTH" ng-model="formData.ES_SALE_MONTH" count ng-max="11">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-white">
    <div class="panel-heading bg-light-azure no-radius">
        <h5 class="panel-title">ข้อมูลประกัน</h5>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label ng-class="labelControlCss" for="IS_INSURANCE">
                {{'INSURE_YN'|translate}}
            </label>
            <div ng-class="formControlCss">
                <div ng-repeat="item in radioYN" class="col-sm-3">
                    <div class="form-group radio clip-radio radio-primary">
                        <input type="radio" name="IS_INSURANCE" ng-value="item.VALUE" ng-model="formData.IS_INSURANCE" id="IS_INSURANCE{{item.VALUE}}" />
                        <label for="IS_INSURANCE{{item.VALUE}}">{{ item.NAME }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label ng-class="labelControlCss" for="POLICY_NO">
                {{'POLICY_NO'|translate}}
            </label>
            <div ng-class="formControlCss">
                <input type="text" class="form-control" id="POLICY_NO" name="POLICY_NO" ng-model="formData.POLICY_NO" maxlength="50">
            </div>
        </div>
        <div class="form-group">
            <label ng-class="labelControlCss" for="INSURED_AMT">
                {{'INSURED_AMT'|translate}}
            </label>
            <div ng-class="formControlCss">
                <input count type="text" class="form-control" id="INSURED_AMT" name="INSURED_AMT" ng-model="formData.INSURED_AMT" maxlength="22">
            </div>
        </div>
        <div class="form-group">
            <label ng-class="labelControlCss" for="INSURED_ISSUE_DATE">
                {{'INSURED_ISSUE_DATE'|translate}}
            </label>
            <div ng-class="formControlCss">
                <input type="text" datepicker-popup="dd/MM/yyyy" is-open="dpOpenState.INSURED_ISSUE_DATE" ng-click="openDatePicker($event,'INSURED_ISSUE_DATE')" class="form-control" id="INSURED_ISSUE_DATE" name="INSURED_ISSUE_DATE" ng-model="formData.INSURED_ISSUE_DATE">
            </div>
        </div>
        <div class="form-group">
            <label ng-class="labelControlCss" for="INSURED_EXP_DATE">
                {{'INSURED_EXP_DATE'|translate}}
            </label>
            <div ng-class="formControlCss">
                <input type="text" datepicker-popup="dd/MM/yyyy" is-open="dpOpenState.INSURED_EXP_DATE" ng-click="openDatePicker($event,'INSURED_EXP_DATE')" class="form-control" id="INSURED_EXP_DATE" name="INSURED_EXP_DATE" ng-model="formData.INSURED_EXP_DATE">
            </div>
        </div>
        <div class="form-group">
            <label ng-class="labelControlCss" for="INSURED_CODE">
                {{'INSURED_CODE'|translate}}
            </label>
            <div ng-class="formControlCss">
                <ui-select theme="selectize" ng-model="formData.INSURED_CODE" id="INSURED_CODE" name="INSURED_CODE">
                    <ui-select-match placeholder="">
                        {{$select.selected.NAME}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in selectInsuredCode | filter: $select.search">
                        <div ng-bind-html="item.NAME | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>

<fieldset class="no-radius">
    <legend>{{'REMARK'|translate}}</legend>
    <textarea class="form-control" id="REMARK" name="REMARK" style="max-width:100%;" ng-model="formData.REMARK"></textarea>
</fieldset>
