<div class="form-group" ng-class="{'has-error':form.COL_NO.$dirty && form.COL_NO.$invalid, 'has-success':form.COL_NO.$valid}">
    <label class="col-sm-4 control-label" for="COL_NO">
        <i class="fa fa-bolt"></i> เลขที่ <span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" ng-required="true" type="text" maxlength="1000" class="form-control" id="COL_NO" name="COL_NO" ng-model="formData.COL_NO">
    </div>
</div>
<div ng-if="isAppraiser" ng-hide="!displayAllFiled && (formData.SUB_TYPE==undefined || (formData.SUB_TYPE.CODE!='04' && formData.SUB_TYPE.CODE!='03' && formData.SUB_TYPE.CODE!='02' && formData.SUB_TYPE.CODE!='01'))" class="form-group" ng-class="{'has-error':form.BOOK_NO.$dirty && form.BOOK_NO.$invalid, 'has-success':form.BOOK_NO.$dirty && form.BOOK_NO.$valid}">
    <label class="col-sm-4 control-label" for="BOOK_NO">
        {{'BOOK_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.SUB_TYPE.CODE=='04' || formData.SUB_TYPE.CODE=='03' || formData.SUB_TYPE.CODE=='02' || formData.SUB_TYPE.CODE=='01')" type="text" maxlength="20" placeholder="" class="form-control" id="BOOK_NO" name="BOOK_NO" ng-model="formData.BOOK_NO">
        <span class="error text-small block" ng-if="form.BOOK_NO.$dirty && form.BOOK_NO.$invalid">{{requireNotificationPrefix}} {{'BOOK_NO'|translate}}</span>
    </div>
</div>
<div ng-if="isAppraiser" ng-hide="!displayAllFiled && (formData.SUB_TYPE==undefined || (formData.SUB_TYPE.CODE!='04' && formData.SUB_TYPE.CODE!='03' && formData.SUB_TYPE.CODE!='02' && formData.SUB_TYPE.CODE!='01'))" class="form-group" ng-class="{'has-error':form.PAGE_NO.$dirty && form.PAGE_NO.$invalid, 'has-success':form.PAGE_NO.$dirty && form.PAGE_NO.$valid}">
    <label class="col-sm-4 control-label" for="PAGE_NO">
        {{'PAGE_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.SUB_TYPE.CODE=='04' || formData.SUB_TYPE.CODE=='03' || formData.SUB_TYPE.CODE=='02' || formData.SUB_TYPE.CODE=='01')" type="text" maxlength="20" placeholder="" class="form-control" id="PAGE_NO" name="PAGE_NO" ng-model="formData.PAGE_NO">
        <span class="error text-small block" ng-if="form.PAGE_NO.$dirty && form.PAGE_NO.$invalid">{{requireNotificationPrefix}} {{'PAGE_NO'|translate}}</span>
    </div>
</div>
<div ng-hide="!displayAllFiled && (formData.SUB_TYPE==undefined || (formData.SUB_TYPE.CODE!='04' && formData.SUB_TYPE.CODE!='02' && formData.SUB_TYPE.CODE!='01'))" class="form-group" ng-class="{'has-error':form.LAND_NO.$dirty && form.LAND_NO.$invalid, 'has-success':form.LAND_NO.$dirty && form.LAND_NO.$valid}">
    <label class="col-sm-4 control-label" for="LAND_NO">
        {{'LAND_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.SUB_TYPE.CODE=='04' || formData.SUB_TYPE.CODE=='02' || formData.SUB_TYPE.CODE=='01')" type="text" maxlength="20" placeholder="" class="form-control" id="LAND_NO" name="LAND_NO" ng-model="formData.LAND_NO">
        <span class="error text-small block" ng-if="form.LAND_NO.$dirty && form.LAND_NO.$invalid">{{requireNotificationPrefix}} {{'LAND_NO'|translate}}</span>
    </div>
</div>
<div ng-if="isAppraiser" ng-hide="!displayAllFiled && (formData.SUB_TYPE==undefined || (formData.SUB_TYPE.CODE!='02'))" class="form-group" ng-class="{'has-error':form.AIRIAL_PHOTO_NO.$dirty && form.AIRIAL_PHOTO_NO.$invalid, 'has-success':form.AIRIAL_PHOTO_NO.$dirty && form.AIRIAL_PHOTO_NO.$valid}">
    <label class="col-sm-4 control-label" for="AIRIAL_PHOTO_NO">
        {{'AIRIAL_PHOTO_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.SUB_TYPE.CODE=='02')" type="text" maxlength="200" placeholder="" class="form-control" id="AIRIAL_PHOTO_NO" name="AIRIAL_PHOTO_NO" ng-model="formData.AIRIAL_PHOTO_NO">
        <span class="error text-small block" ng-if="form.AIRIAL_PHOTO_NO.$dirty && form.AIRIAL_PHOTO_NO.$invalid">{{requireNotificationPrefix}} {{'AIRIAL_PHOTO_NO'|translate}}</span>
    </div>
</div>
<div ng-if="isAppraiser" ng-hide="!displayAllFiled && (formData.SUB_TYPE==undefined || (formData.SUB_TYPE.CODE!='02'))" class="form-group" ng-class="{'has-error':form.AIRIAL_CODE_NO.$dirty && form.AIRIAL_CODE_NO.$invalid, 'has-success':form.AIRIAL_CODE_NO.$dirty && form.AIRIAL_CODE_NO.$valid}">
    <label class="col-sm-4 control-label" for="AIRIAL_CODE_NO">
        {{'AIRIAL_CODE_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.SUB_TYPE.CODE=='02')" type="text" maxlength="20" placeholder="" class="form-control" id="AIRIAL_CODE_NO" name="AIRIAL_CODE_NO" ng-model="formData.AIRIAL_CODE_NO">
        <span class="error text-small block" ng-if="form.AIRIAL_CODE_NO.$dirty && form.AIRIAL_CODE_NO.$invalid">{{requireNotificationPrefix}} {{'AIRIAL_CODE_NO'|translate}}</span>
    </div>
</div>
<div ng-if="isAppraiser" ng-hide="!displayAllFiled && (formData.SUB_TYPE==undefined || (formData.SUB_TYPE.CODE!='02'))" class="form-group" ng-class="{'has-error':form.AIRIAL_SHEET_NO.$dirty && form.AIRIAL_SHEET_NO.$invalid, 'has-success':form.AIRIAL_SHEET_NO.$dirty && form.AIRIAL_SHEET_NO.$valid}">
    <label class="col-sm-4 control-label" for="AIRIAL_SHEET_NO">
        {{'AIRIAL_SHEET_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.SUB_TYPE.CODE=='02')" type="text" maxlength="20" placeholder="" class="form-control" id="AIRIAL_SHEET_NO" name="AIRIAL_SHEET_NO" ng-model="formData.AIRIAL_SHEET_NO">
        <span class="error text-small block" ng-if="form.AIRIAL_SHEET_NO.$dirty && form.AIRIAL_SHEET_NO.$invalid">{{requireNotificationPrefix}} {{'AIRIAL_SHEET_NO'|translate}}</span>
    </div>
</div>