<div class="panel panel-white">
    <div class="panel-heading bg-light-azure no-radius">
        <h5 class="panel-title">ข้อมูลหลักทรัพย์ประเภทอื่น</h5>
    </div>
    <div class="panel-body">
        <div ng-if="isAppraiser" class="form-group">
            <label class="col-sm-4 control-label" for="SURVEY_APPR_DATE">
                {{'SURVEY_APPR_DATE'|translate}}
            </label>
            <div class="col-sm-8">
                <input ng-disabled="inputDisabled" datepicker-popup="dd/MM/yyyy" is-open="dpOpenState.SURVEY_APPR_DATE" ng-click="openDatePicker($event,'SURVEY_APPR_DATE')" type="text" class="form-control" ng-model="formData.SURVEY_DATE" />
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':form.OTHERS_COL.$dirty && form.OTHERS_COL.$invalid, 'has-success': form.OTHERS_COL.$valid}">
            <label class="col-sm-4 control-label" for="OTHERS_COL">
                {{'OTHERS_COL'|translate}}<span class="symbol required"></span>
            </label>
            <div class="col-sm-8">
                <input ng-disabled="inputDisabled" type="text" maxlength="300" required class="form-control" id="OTHERS_COL" name="OTHERS_COL" ng-model="formData.OTHERS_COL">
            </div>
        </div>
        <div ng-if="isAppraiser" class="form-group" ng-class="{'has-error':form.OTHERS_PRICE_PAWN.$dirty && form.OTHERS_PRICE_PAWN.$invalid, 'has-success':form.OTHERS_PRICE_PAWN.$valid}">
            <label class="col-sm-4 control-label" for="OTHERS_PRICE_PAWN">
                {{'OTHERS_PRICE_PAWN'|translate}}
            </label>
            <div class="col-sm-8">
                <input ng-disabled="inputDisabled" count type="text" maxlength="22" class="form-control" id="OTHERS_PRICE_PAWN" name="OTHERS_PRICE_PAWN" ng-model="formData.OTHERS_PRICE_PAWN">
            </div>
        </div>
        <div ng-if="isAppraiser" class="form-group" ng-class="{'has-error':form.OTHERS_AMOUNT.$dirty && form.OTHERS_AMOUNT.$invalid, 'has-success': form.OTHERS_AMOUNT.$valid}">
            <label class="col-sm-4 control-label" for="OTHERS_AMOUNT">
                {{'จำนวนรายการ'|translate}}<span class="symbol required"></span>
            </label>
            <div class="col-sm-8">
                <input ng-disabled="inputDisabled" format decimal="0" type="text" ng-min="1" maxlength="22" required class="form-control" id="OTHERS_AMOUNT" name="OTHERS_AMOUNT" ng-model="formData.OTHERS_AMOUNT" />
            </div>
        </div>
    </div>
</div>
<fieldset class="no-radius" ng-if="isAppraiser">
    <legend>{{'DOC_CERT_DTL'|translate}}</legend>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="COL_CERT_TYPE">
            {{'ประเภทเอกสารสิทธิ์'|translate}} <span class="symbol required"></span>
        </label>
        <div class="col-sm-8">
            <ui-select ng-disabled="inputDisabled" ng-required="true" theme="selectize" ng-model="formData.COL_CERT_TYPE " name="COL_CERT_TYPE " id="COL_CERT_TYPE" on-select="onColCertTypesChange()">
                <ui-select-match placeholder="">
                    {{$select.selected.NAME}}
                </ui-select-match>
                <ui-select-choices repeat="sub in colCertTypes | filter: $select.search">
                    <div ng-bind-html="sub.NAME | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="COL_NO">
            {{'COL_NO_'+formData.COL_CERT_TYPE.VALUE|translate}} <span class="symbol required"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" required type="text" maxlength="500" class="form-control" id="COL_NO" name="COL_NO" ng-model="formData.COL_NO">
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='4' || formData.COL_CERT_TYPE.VALUE=='5'">
        <label class="col-sm-4 control-label" for="SCHOLAR_NO">
            {{'SCHOLAR_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" type="text" maxlength="100" placeholder="" class="form-control" id="SCHOLAR_NO" name="SCHOLAR_NO" ng-model="formData.SCHOLAR_NO">
            <span class="error text-small block" ng-if="form.SCHOLAR_NO.$dirty && form.SCHOLAR_NO.$invalid">{{requireNotificationPrefix}} {{'SCHOLAR_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='1'">
        <label class="col-sm-4 control-label" for="RAWANG">
            {{'RAWANG'|translate}}<span class="symbol required"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="formData.COL_CERT_TYPE.VALUE=='1'" type="text" maxlength="200" placeholder="" class="form-control" id="RAWANG" name="RAWANG" ng-model="formData.RAWANG">
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='2' || formData.COL_CERT_TYPE.VALUE=='3' || formData.COL_CERT_TYPE.VALUE=='4' || formData.COL_CERT_TYPE.VALUE=='5'">
        <label class="col-sm-4 control-label" for="BOOK_NO">
            {{'BOOK_NO'|translate}}
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" type="text" maxlength="20" placeholder="" class="form-control" id="BOOK_NO" name="BOOK_NO" ng-model="formData.BOOK_NO">
            <span class="error text-small block" ng-if="form.BOOK_NO.$dirty && form.BOOK_NO.$invalid">{{requireNotificationPrefix}} {{'BOOK_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='2' || formData.COL_CERT_TYPE.VALUE=='4' || formData.COL_CERT_TYPE.VALUE=='5'">
        <label class="col-sm-4 control-label" for="PAGE_NO">
            {{'PAGE_NO'|translate}}
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.COL_CERT_TYPE.VALUE=='04' || formData.COL_CERT_TYPE.VALUE=='03' || formData.COL_CERT_TYPE.VALUE=='2' || formData.COL_CERT_TYPE.VALUE=='1')" type="text" maxlength="20" placeholder="" class="form-control" id="PAGE_NO" name="PAGE_NO" ng-model="formData.PAGE_NO">
            <span class="error text-small block" ng-if="form.PAGE_NO.$dirty && form.PAGE_NO.$invalid">{{requireNotificationPrefix}} {{'PAGE_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='1' || formData.COL_CERT_TYPE.VALUE=='2' || formData.COL_CERT_TYPE.VALUE=='3'">
        <label class="col-sm-4 control-label" for="LAND_NO">
            {{'LAND_NO'|translate}}
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" type="text" maxlength="20" placeholder="" class="form-control" id="LAND_NO" name="LAND_NO" ng-model="formData.LAND_NO">
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='3'">
        <label class="col-sm-4 control-label" for="PAGE_NO">
            {{'PAGE_NO'|translate}}
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.COL_CERT_TYPE.VALUE=='04' || formData.COL_CERT_TYPE.VALUE=='03' || formData.COL_CERT_TYPE.VALUE=='2' || formData.COL_CERT_TYPE.VALUE=='1')" type="text" maxlength="20" placeholder="" class="form-control" id="PAGE_NO" name="PAGE_NO" ng-model="formData.PAGE_NO">
            <span class="error text-small block" ng-if="form.PAGE_NO.$dirty && form.PAGE_NO.$invalid">{{requireNotificationPrefix}} {{'PAGE_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='2'">
        <label class="col-sm-4 control-label" for="AIRIAL_PHOTO_NO">
            {{'AIRIAL_PHOTO_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.COL_CERT_TYPE.VALUE=='2')" type="text" maxlength="200" placeholder="" class="form-control" id="AIRIAL_PHOTO_NO" name="AIRIAL_PHOTO_NO" ng-model="formData.AIRIAL_PHOTO_NO">
            <span class="error text-small block" ng-if="form.AIRIAL_PHOTO_NO.$dirty && form.AIRIAL_PHOTO_NO.$invalid">{{requireNotificationPrefix}} {{'AIRIAL_PHOTO_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='2'">
        <label class="col-sm-4 control-label" for="AIRIAL_CODE_NO">
            {{'AIRIAL_CODE_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.COL_CERT_TYPE.VALUE=='2')" type="text" maxlength="20" placeholder="" class="form-control" id="AIRIAL_CODE_NO" name="AIRIAL_CODE_NO" ng-model="formData.AIRIAL_CODE_NO">
            <span class="error text-small block" ng-if="form.AIRIAL_CODE_NO.$dirty && form.AIRIAL_CODE_NO.$invalid">{{requireNotificationPrefix}} {{'AIRIAL_CODE_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='2'">
        <label class="col-sm-4 control-label" for="AIRIAL_SHEET_NO">
            {{'AIRIAL_SHEET_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.COL_CERT_TYPE.VALUE=='2')" type="text" maxlength="20" placeholder="" class="form-control" id="AIRIAL_SHEET_NO" name="AIRIAL_SHEET_NO" ng-model="formData.AIRIAL_SHEET_NO">
            <span class="error text-small block" ng-if="form.AIRIAL_SHEET_NO.$dirty && form.AIRIAL_SHEET_NO.$invalid">{{requireNotificationPrefix}} {{'AIRIAL_SHEET_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='1' || formData.COL_CERT_TYPE.VALUE=='3'">
        <label class="col-sm-4 control-label" for="SURVEY_NO">
            {{'SURVEY_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.COL_CERT_TYPE.VALUE=='04' || formData.COL_CERT_TYPE.VALUE=='1')" type="text" placeholder="" maxlength="20" class="form-control" id="SURVEY_NO" name="SURVEY_NO" ng-model="formData.SURVEY_NO">
            <span class="error text-small block" ng-if="form.SURVEY_NO.$dirty && form.SURVEY_NO.$invalid">{{requireNotificationPrefix}} {{'SURVEY_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='3'">
        <label class="col-sm-4 control-label" for="RAWANG">
            {{'RAWANG'|translate}}
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" type="text" maxlength="200" placeholder="" class="form-control" id="RAWANG" name="RAWANG" ng-model="formData.RAWANG">
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='1'">
        <label class="col-sm-4 control-label" for="BOOK_NO">
            {{'BOOK_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.COL_CERT_TYPE.VALUE=='04' || formData.COL_CERT_TYPE.VALUE=='03' || formData.COL_CERT_TYPE.VALUE=='2' || formData.COL_CERT_TYPE.VALUE=='1')" type="text" maxlength="20" placeholder="" class="form-control" id="BOOK_NO" name="BOOK_NO" ng-model="formData.BOOK_NO">
            <span class="error text-small block" ng-if="form.BOOK_NO.$dirty && form.BOOK_NO.$invalid">{{requireNotificationPrefix}} {{'BOOK_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group" ng-show="formData.COL_CERT_TYPE.VALUE=='1'">
        <label class="col-sm-4 control-label" for="PAGE_NO">
            {{'PAGE_NO'|translate}}<span class="symbol required" ng-hide="displayAllFiled"></span>
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" ng-required="!displayAllFiled && (formData.COL_CERT_TYPE.VALUE=='04' || formData.COL_CERT_TYPE.VALUE=='03' || formData.COL_CERT_TYPE.VALUE=='2' || formData.COL_CERT_TYPE.VALUE=='1')" type="text" maxlength="20" placeholder="" class="form-control" id="PAGE_NO" name="PAGE_NO" ng-model="formData.PAGE_NO">
            <span class="error text-small block" ng-if="form.PAGE_NO.$dirty && form.PAGE_NO.$invalid">{{requireNotificationPrefix}} {{'PAGE_NO'|translate}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="DEED_PROVINCE">
            {{'PROVINCE'|translate}}
        </label>
        <div class="col-sm-8">
            <ui-select ng-disabled="inputDisabled" theme="selectize" ng-model="formData.DEED_PROVINCE" id="DEED_PROVINCE" name="DEED_PROVINCE" on-select="onProvinceDOLChange($item, $model)">
                <ui-select-match placeholder="">
                    {{$select.selected.PROV_NAME}}
                </ui-select-match>
                <ui-select-choices repeat="item in selectProvinceDOL | filter: $select.search">
                    <div ng-bind-html="item.PROV_NAME | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="DEED_CITY">
            {{'DISTRICT'|translate}}
        </label>
        <div class="col-sm-8">
            <ui-select ng-disabled="inputDisabled" theme="selectize" ng-model="formData.DEED_CITY" id="DEED_CITY" name="DEED_CITY" on-select="getSubDistrictDOL($item, $model)">
                <ui-select-match placeholder="">
                    {{$select.selected.CITY}}
                </ui-select-match>
                <ui-select-choices repeat="item in selectDistrictDOL | filter: $select.search">
                    <div ng-bind-html="item.CITY | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="DEED_DISTRICT">
            {{'SUBDISTRICT'|translate}}
        </label>
        <div class="col-sm-8">
            <ui-select ng-disabled="inputDisabled" theme="selectize" ng-model="formData.DEED_DISTRICT" id="DEED_DISTRICT" name="DEED_DISTRICT">
                <ui-select-match placeholder="">
                    {{$select.selected.DISTRICT}}
                </ui-select-match>
                <ui-select-choices repeat="item in selectSubDistrictDOL | filter: $select.search">
                    <div ng-bind-html="item.DISTRICT | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="DEED_DISTRICT_OLD">
            {{'DEED_DISTRICT_OLD'|translate}}
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" type="text" class="form-control" ng-model="formData.DEED_DISTRICT_OLD" id="DEED_DISTRICT_OLD" name="DEED_DISTRICT_OLD" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="AREA_WA">
            {{'AREA_WA'|translate}}
        </label>
        <div class="col-sm-8">
            <input ng-disabled="inputDisabled" format type="text" class="form-control" id="AREA_WA" name="AREA_WA" ng-model="formData.AREA_WA" decimal="1">
        </div>
    </div>
</fieldset>
<fieldset class="no-radius" ng-if="isAppraiser">
    <legend>{{'PRICE'|translate}}</legend>
    <!--<div class="form-group">
        <label class="col-sm-4 control-label" for="REPLACEMENT_COST">
            {{'CAR.REPLACEMENT_COST'|translate}}<span class="symbol required"></span>
        </label>
        <div class="col-sm-8">
            <input required format type="text" ng-disabled="inputDisabled" class="form-control" ng-model="formData.REPLACEMENT_COST" id="REPLACEMENT_COST" name="REPLACEMENT_COST" ng-change="calDepliciation()" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="DEPLICIATIONPERCENT">
            {{'CAR.DEPLICIATIONPERCENT'|translate}}
        </label>
        <div class="col-sm-8">
            <input format type="text" ng-disabled="inputDisabled" class="form-control" ng-model="formData.DEPLICIATIONPERCENT" id="DEPLICIATIONPERCENT" name="DEPLICIATIONPERCENT" ng-max="99.99" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="DEPLICIATIONPERCENT">
            {{'CAR.DEPLICIATIONPRICE'|translate}}
        </label>
        <div class="col-sm-8">
            <input format type="text" ng-disabled="inputDisabled" class="form-control" ng-model="formData.DEPLICIATIONPRICE" id="DEPLICIATIONPRICE" name="DEPLICIATIONPRICE" ng-max="formData.REPLACEMENT_COST" ng-change="calDepliciation()" />
        </div>
    </div>-->
    <div ng-if="isAppraiser" class="form-group">
        <label class="col-sm-4 control-label" for="APPR_CUR_OTHER_AMOUNT">
            {{'CAR.APPR_CUR_OTHER_AMOUNT'|translate}}
        </label>
        <div class="col-sm-8">
            <input format type="text" ng-disabled="inputDisabled" class="form-control" ng-model="formData.APPR_CUR_NET_TOTAL" id="APPR_CUR_NET_TOTAL" name="APPR_CUR_NET_TOTAL" />
        </div>
    </div>
</fieldset>
<fieldset class="no-radius">
    <legend>{{'REMARK'|translate}}</legend>
    <textarea rows="10" class="form-control" ng-disabled="inputDisabled" id="REMARK" name="REMARK" style="max-width:100%;" ng-model="formData.REMARK"></textarea>
</fieldset>