<!-- start: TOP NAVBAR -->
<!-- start: NAVBAR HEADER -->
<div class="navbar-header">
    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg btn btn-navbar sidebar-toggle" ng-click="toggle('sidebar')">
        <i class="ti-align-justify"></i>
    </a>
    <a class="navbar-brand" href="#">
        <img width="190" src="/assets/images/login_logo_gsb.png" alt="{{app.name}}" />
    </a>
    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed">
        <i class="ti-align-justify"></i>
    </a>
    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <i class="ti-view-grid"></i>
    </a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
<div class="navbar-collapse collapse" collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">
    <div class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
        <div class="margin-top-15 text-large">
            <span>{{'NAME'|translate}}</span><span class="text-pink margin-left-10 margin-right-10">{{user.EMP_NAME}}</span>
            <span>{{'OU'|translate}}</span><span class="text-pink margin-left-10 margin-right-10">{{user.OU_NAME}}</span>
            <span>{{'ROLE'|translate}}</span><span class="text-pink margin-left-10 margin-right-10">{{role.ROLE_NAME}}</span>           
            <span><a ng-click="logout()"><i class="fa fa-power-off"></i> {{'LOGOUT'|translate}}</a></span>
        </div>
        <div class="pull-right">
            <span class="text-extra-small">{{'VERSION'|translate}} {{appConfig.version}}</span>
        </div>
    </div>
</div>