<!--HEAD COL PHOTO EDITOR-->
<div class="form-group">
    <label class="col-sm-2 control-label" for="NAME">
        {{'PHOTO_TAKEN_POINT'|translate}}
    </label>
    <div class="col-sm-9 no-padding">
        <ui-select ng-required="true" ng-disabled="inputDisabled" theme="selectize" ng-model="formData.NAME" name="NAME" id="NAME">
            <ui-select-match>
                {{$select.selected.NAME}}
            </ui-select-match>
            <ui-select-choices repeat="item in photoTakenPoints | filter: $select.search">
                <div ng-bind-html="item.NAME | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="REMARK">
        {{'REMARK'|translate}}
    </label>
    <div class="col-sm-9 no-padding">
        <input type="text" class="form-control" ng-maxlength="300" ng-model="formData.REMARK" />
    </div>
</div>
<div class="thumbnail">
    <img ng-if="formData.ATTACHDOC_RUNNING_ID > 0" ng-src="nn1/b/{{formData.ATTACHDOC_RUNNING_ID}}/0/{{random}}" />
    <img ng-if="formData.ATTACHDOC_RUNNING_ID == 0" ng-src="nn1/d/{{formData.FILE}}/{{PHOTO_RUNNING_ID}}/{{random}}" />
</div>