<div ng-controller="subform0550Controller">
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="add()" ng-disabled="inputDisabled">
            <i class="glyphicon glyphicon-plus"></i> {{'BUTTON.ADD'|translate}}
        </button>
        <button class="btn btn-primary" ng-click="calendar()">
            <i class="glyphicon glyphicon-calendar"></i> {{'CALENDAR'|translate}}
        </button>
    </div>
    <table class="table table-bordered table-hover disabled" style="max-width:100%;">
        <thead>
            <tr class="bg-azure">
                <th class="col-md-2"><span class="text-white">{{'CONTACT_DATE'|translate}}</span></th>
                <th class="col-md-2"><span class="text-white">{{'CUSCONTACT_NAME'|translate}}</span></th>
                <th class="col-md-2"><span class="text-white">{{'CONTACT_RESULT'|translate}}</span></th>
                <!--<th class="col-md-2 center"><span class="text-white">{{'CONFIRM_FLAG'|translate}}</span></th>-->
                <th class="col-md-2"><span class="text-white">{{'DATE_CUST_APPOINTMENT'|translate}}</span></th>
                <th class="col-md-2"><span class="text-white">{{'REMARK'|translate}}</span></th>
                <th class="col-sm-1" ng-if="!inputDisabled"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in custContact">
                <td>{{item.CONTACT_DATE_TEXT}}</td>
                <td>{{item.CUSCONTACT_NAME}}</td>
                <td>{{item.CONTACT_RESULT.NAME}}</td>
                <!--<td class="center"><i ng-if="item.CONFIRM_FLAG=='Y'" class="glyphicon glyphicon-ok"></i></td>-->
                <td>{{item.DATE_CUST_APPOINTMENT_TEXT}}</td>
                <td>{{item.REMARK}}</td>
                <td class="center" ng-if="!inputDisabled">
                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                        <a href="#" ng-click="edit(item)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i class="fa fa-pencil"></i></a>
                        <!--<a href="#" ng-click="delete(item)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i class="fa fa-times fa fa-white"></i></a>-->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel panel-white no-radius">
        <div class="panel-body">
            <form name="form" role="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="DATE_APPRAI_EVALUATE">
                        {{'DATE_APPRAI_EVALUATE'|translate}}
                    </label>
                    <div class="col-md-2 no-padding">
                        <input readonly ng-model="$parent.formData.DATE_APPRAI_EVALUATE" class="form-control" id="DATE_APPRAI_EVALUATE" name="DATE_APPRAI_EVALUATE" datepicker-popup="dd/MM/yyyy"/>
                    </div>
                </div>
            </form>
            <!--<div class="pull-right">
                <button class="btn btn-primary btn-o" ng-click="submit(form)" ng-disabled="inputDisabled">
                    <i class="glyphicon glyphicon-floppy-save"></i>{{'BUTTON.SAVE'|translate}}
                </button>
            </div>-->
        </div>
    <div class="height-20"></div>
    </div>
</div>
