<div ng-controller="subform1300Controller">
    <table class="table table-bordered table-hover disabled" style="max-width:100%;">
        <thead>
            <tr class="bg-azure">
                <th class="col-md-10"><span class="text-white">{{'LIST'|translate}}</span></th>
                <th class="col-md-2 text-right"><span class="text-white">{{'APPR_CUR_NET_TOTAL'|translate}}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in headColAppraisalList">
                <td>{{item.HEAD_COL_DETAIL}}</td>
                <td class="text-right">{{item.APPR_CUR_NET_TOTAL | number:2}}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-primary btn-o" ng-click="print()" ng-disabled="btnDisabled">
                <i class="fa fa-file-pdf-o"></i> {{'จัดทำแบบฟอร์มเอกสารสรุปผล'|translate}}
            </button>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-12 margin-top-20 margin-bottom-20">
        <div class="pull-right" ng-if="$parent.formData.APPRAISAL_COMMITTEE_SIGN_FORM.ATTACHDOC_RUNNING_ID>0">
            <a target="_blank" href="home/download/{{$parent.formData.APPRAISAL_COMMITTEE_SIGN_FORM.ATTACHDOC_RUNNING_ID}}">
                <h3>{{'ดาวน์โหลดไฟล์'|translate}}</h3>                
            </a>
            <span style="position:absolute;right:14px;">จัดทำแบบฟอร์มเอกสารสรุปผล ล่าสุดเมื่อ {{$parent.formData.APPRAISAL_COMMITTEE_SIGN_FORM.E_DATE|date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
    </div>
</div>