<div ng-controller="headColCtrl">
    <div class="row padding-10">
        <div ng-if="$parent.formData.JOB_TYPE" class="pull-left">
            <h4 class="panel-title margin-top-10"> {{$parent.formData.DEVELOPER.DEV_NAME}} <span ng-if="$parent.formData.DEVELOPER.DEV_NAME!=undefined">/</span> {{$parent.formData.PROJECT.PROJECT_NAME}}</h4>
        </div>
        <div class="pull-left" ng-if="$parent.formData.JOB_TYPE==false"><h4 class="panel-title margin-top-10">{{'TOTAL_COLLETERAL'|translate}} : {{colleterals.length}}</h4></div>
        <div class="btn-group pull-right" dropdown>
            <button ng-disabled="colleterals.length > 0" type="button" class="btn btn-primary" ng-click="openProject()" ng-disabled="inputDisabled" ng-if="$parent.formData.JOB_TYPE">
                {{'PROJECT'|translate}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="openPhaseZone()" ng-if="$parent.formData.JOB_TYPE" ng-disabled="inputDisabled||($parent.formData.PROJECT==undefined||$parent.formData.PROJECT.PROJECT_RUNNING_ID==0)">
                {{'PHASE_ZONE'|translate}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="openProjectCollteral()" ng-disabled="inputDisabled" ng-hide="$parent.formData.JOB_TYPE">
                {{'PROJECT_COLLETERAL'|translate}}
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle btn-squared" dropdown-toggle ng-disabled="inputDisabled||($parent.formData.JOB_TYPE && ($parent.formData.PROJECT==undefined || $parent.formData.PROJECT.PROJECT_RUNNING_ID==0))">
                {{'BUTTON.ADD_HEAD_COLL'|translate}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="headColType in collType">
                    <a href="#" ng-click="addHeadCol(headColType.CODE,headColType.COL_TYPE,headColType.GRADE_QNR_ID)">
                        {{headColType.COL_TYPE}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row padding-10" ng-repeat="colleteral in colleterals">
        <div class="panel panel-white no-radius">
            <div class="panel-heading border-light bg-azure no-radius">
                <h4 class="panel-title">{{colleteral.HEAD_COL_DETAIL}} <i ng-show="$parent.formData.JOB_TYPE" class="ti-angle-right"></i> <span ng-show="$parent.formData.JOB_TYPE">{{colleteral.PROJECT_UNIT_TYPE.UNIT_NAME}}</span> <i ng-show="$parent.formData.JOB_TYPE">{{colleteral.PROJECT_UNIT_TYPE.UNIT_DETAIL}}</i></h4>
                <ul class="panel-heading-tabs border-light">
                    <li>
                        <div class="pull-right">
                            <div class="btn-group padding-left-5" dropdown ng-if="isAppraiser">
                                <button type="button" ng-disabled="!tab.read" class="btn btn-o border-white dropdown-toggle btn-squared" dropdown-toggle>
                                    {{'BOT_COL_ACT'|translate}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="colAct in colleteral.COL_TYPE.BOT_COL_ACT">
                                        <a href="#" ng-click="collAct(colleteral,colAct)">
                                            {{colAct.COL_ACT_NAME}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group padding-left-5" dropdown>
                                <button type="button" ng-disabled="!tab.create" class="btn btn-o border-white dropdown-toggle btn-squared" dropdown-toggle>
                                    {{'BUTTON.ADD_SUB_COL'|translate}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="botColForm in colleteral.BOT_COL_FORM">
                                        <a href="#" ng-click="addSubCol(colleteral,botColForm)">
                                            {{botColForm.COL_FORM_NAME}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn btn-o border-white btn-squared" ng-disabled="!tab.read" ng-click="editHeadCol(colleteral)">{{'BUTTON.EDIT'|translate}}</button>
                            <button class="btn btn-o border-white btn-squared" ng-disabled="!tab.delete" ng-click="deleteHeadCol(colleteral)">{{'BUTTON.DELETE'|translate}}</button>
                            <button class="btn btn-o border-white btn-squared" ng-click="copyHeadCol(colleteral)">{{'BUTTON.COPY'|translate}}</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div ng-if="colleteral.SUB_COL_LAND.length > 0">
                    <table class="table table-bordered table-hover" id="sample-table-4">
                        <thead>
                            <tr class="bg-light-grey">
                                <th ng-class="css_th_1">{{'SEQ'|translate}}</th>
                                <th ng-class="css_th_2">{{'SUB_COL_TYPE'|translate}}</th>
                                <th ng-class="css_th_2">{{'COL_NO'|translate}}</th>
                                <th ng-class="css_th_3">{{'RAWANG'|translate}}</th>
                                <th ng-class="css_th_4">{{'SUB_COLL_AREA'|translate}}</th>
                                <th ng-class="css_th_4">{{'SUB_COLL_OWNER'|translate}}</th>
                                <th ng-class="css_th_6" ng-if="tab.read"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcol in colleteral.SUB_COL_LAND">
                                <td>{{$index + 1}}</td>
                                <td>{{subcol.SUB_TYPE.SUB_TYPE}}</td>
                                <td>{{subcol.COL_NO}}</td>
                                <td>{{subcol.RAWANG}}</td>
                                <td>{{subcol.AREA_WA | number:1}}</td>
                                <td>{{subcol.COL_CUS[0].CUS_NAME}}</td>
                                <td class="center" ng-if="tab.read">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-if="tab.read" href="#" ng-click="editSubCol(colleteral,subcol,'286003')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i ng-class="iconEdit"></i></a>
                                        <a ng-if="tab.delete" href="#" ng-click="deleteSubCol(colleteral,subcol,'286003')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i ng-class="iconDelete"></i></a>
                                        <a ng-if="tab.update && subcol.COL_NO.indexOf(',')>0" href="#" ng-click="splitSubCol(colleteral,subcol,'286003')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'SPLIT'|translate}}"><i ng-class="iconSplit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="colleteral.SUB_COL_BUILDING.length > 0">
                    <table class="table table-bordered table-hover" id="sample-table-4">
                        <thead>
                            <tr class="bg-light-grey">
                                <th class="col-sm-1">{{'SEQ'|translate}}</th>

                                <th class="col-sm-2" ng-hide="$parent.formData.JOB_TYPE">{{'SUB_COL_TYPE'|translate}}</th>
                                <th class="col-sm-2" ng-hide="$parent.formData.JOB_TYPE">{{'SUBDISTRICT'|translate}}</th>
                                <th class="col-sm-2" ng-hide="$parent.formData.JOB_TYPE">{{'PROVINCE'|translate}}</th>
                                <th class="col-sm-2" ng-hide="$parent.formData.JOB_TYPE">{{'AREA_METER'|translate}}</th>

                                <th class="col-sm-2" ng-show="$parent.formData.JOB_TYPE">{{'PHASE'|translate}}</th>
                                <th class="col-sm-2" ng-show="$parent.formData.JOB_TYPE">{{'ZONE'|translate}}</th>
                                <!--<th class="col-sm-2" ng-show="$parent.formData.JOB_TYPE">{{'AREA_WA'|translate}}</th>-->

                                <th class="col-sm-2" >{{'SUB_COLL_OWNER'|translate}}</th>
                                <th class="col-sm-1" ng-if="tab.read"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcol in colleteral.SUB_COL_BUILDING">
                                <td>{{$index + 1}}</td>
                                <td ng-hide="$parent.formData.JOB_TYPE">{{subcol.SUB_TYPE.SUB_TYPE}}</td>
                                <td ng-hide="$parent.formData.JOB_TYPE">{{subcol.DEED_DISTRICT.DISTRICT}}</td>
                                <td ng-hide="$parent.formData.JOB_TYPE">{{subcol.DEED_PROVINCE.PROV_NAME}}</td>
                                <td ng-hide="$parent.formData.JOB_TYPE">{{subcol.AREA_METER | number:2}}</td>
                                <td ng-show="$parent.formData.JOB_TYPE">{{subcol.PROJECT_PHASE_RUNNING_ID.PHASE_NAME}}</td>
                                <td ng-show="$parent.formData.JOB_TYPE">{{subcol.PROJECT_ZONE_RUNNING_ID.ZONE_NAME}}</td>
                                <!--<td ng-show="$parent.formData.JOB_TYPE">{{subcol.PROJECT_PRICE.UNIT_TYPE.AREA_WA}}</td>-->
                                <td>{{subcol.COL_CUS[0].CUS_NAME}}</td>
                                <td class="center" ng-if="tab.read">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-if="tab.read" href="#" ng-click="editSubCol(colleteral,subcol,'286004')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i ng-class="iconEdit"></i></a>
                                        <a ng-if="tab.delete" href="#" ng-click="deleteSubCol(colleteral,subcol,'286004')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i ng-class="iconDelete"></i></a>
                                        <a ng-if="tab.update && subcol.DEED_ADD_NO.indexOf(',') > 0" href="#" ng-click="splitSubCol(colleteral,subcol,'286004')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'SPLIT'|translate}}"><i ng-class="iconSplit"></i></a>
                                        <a ng-if="isAppraiser && tab.read" href="#" ng-click="costSubCol(colleteral,subcol)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'COST'|translate}}"><i class="fa fa-dollar"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="colleteral.SUB_COL_CAR.length > 0">
                    <table class="table table-bordered table-hover" id="sample-table-4">
                        <thead>
                            <tr class="bg-light-grey">
                                <th ng-class="css_th_1">{{'SEQ'|translate}}</th>
                                <th ng-class="css_th_2">{{'SUB_COL_TYPE'|translate}}</th>
                                <th ng-class="css_th_2">{{'BRAND_NAME'|translate}}</th>
                                <th ng-class="css_th_3">{{'REGIS_PROVINCE'|translate}}</th>
                                <th ng-class="css_th_4">{{'LICENSE_NO'|translate}}</th>
                                <th ng-class="css_th_4">{{'SUB_COLL_OWNER'|translate}}</th>
                                <th ng-class="css_th_6" ng-if="tab.read"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcol in colleteral.SUB_COL_CAR">
                                <td>{{$index + 1}}</td>
                                <td>{{subcol.SUB_TYPE.SUB_TYPE}}</td>
                                <td>{{subcol.BRAND_NAME}}</td>
                                <td>{{subcol.REGIS_PROVINCE.PROV_NAME}}</td>
                                <td>{{subcol.REGIS_NO}}</td>
                                <td>{{subcol.COL_CUS[0].CUS_NAME}}</td>
                                <td class="center" ng-if="tab.read">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-if="tab.read" href="#" ng-click="editSubCol(colleteral,subcol,'286038')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i ng-class="iconEdit"></i></a>
                                        <a ng-if="tab.delete" href="#" ng-click="deleteSubCol(colleteral,subcol,'286038')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i ng-class="iconDelete"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="colleteral.SUB_COL_SHIP.length > 0">
                    <table class="table table-bordered table-hover" id="sample-table-4">
                        <thead>
                            <tr class="bg-light-grey">
                                <th ng-class="css_th_1">{{'SEQ'|translate}}</th>
                                <th ng-class="css_th_2">{{'SUB_COL_TYPE'|translate}}</th>
                                <th ng-class="css_th_2">{{'SHIP_NAME'|translate}}</th>
                                <th ng-class="css_th_3">{{'REGIS_PROVINCE'|translate}}</th>
                                <th ng-class="css_th_4">{{'MACHINE_NO'|translate}}</th>
                                <th ng-class="css_th_4">{{'SUB_COLL_OWNER'|translate}}</th>
                                <th ng-class="css_th_6" ng-if="tab.read"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcol in colleteral.SUB_COL_SHIP">
                                <td>{{$index + 1}}</td>
                                <td>{{subcol.SUB_TYPE.SUB_TYPE}}</td>
                                <td>{{subcol.NAME}}</td>
                                <td>{{subcol.REGIS_PROVINCE.PROV_NAME}}</td>
                                <td>{{subcol.REGIS_NO}}</td>
                                <td>{{subcol.COL_CUS[0].CUS_NAME}}</td>
                                <td class="center" ng-if="tab.read">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-if="tab.read" href="#" ng-click="editSubCol(colleteral,subcol,'286039')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i ng-class="iconEdit"></i></a>
                                        <a ng-if="tab.delete" href="#" ng-click="deleteSubCol(colleteral,subcol,'286039')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i ng-class="iconDelete"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="colleteral.SUB_COL_RENT.length > 0">
                    <table class="table table-bordered table-hover" id="sample-table-4">
                        <thead>
                            <tr class="bg-light-grey">
                                <th ng-class="css_th_1">{{'SEQ'|translate}}</th>
                                <th ng-class="css_th_2">{{'SUB_COL_TYPE'|translate}}</th>
                                <th ng-class="css_th_2">{{'TRANSFER_NO'|translate}}</th>
                                <th ng-class="css_th_3">{{'RENTAL_NO'|translate}}</th>
                                <th ng-class="css_th_4">{{'RENT_TYPE'|translate}}</th>
                                <th ng-class="css_th_4">{{'SUB_COLL_OWNER'|translate}}</th>
                                <th ng-class="css_th_6" ng-if="tab.read"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcol in colleteral.SUB_COL_RENT">
                                <td>{{$index + 1}}</td>
                                <td>{{subcol.SUB_TYPE.SUB_TYPE}}</td>
                                <td>{{subcol.TRANSFER_NO}}</td>
                                <td>{{subcol.RENTAL_NO}}</td>
                                <td ng-if="subcol.RENT_TYPE=='L'">{{'LAND'|translate}}</td>
                                <td ng-if="subcol.RENT_TYPE=='B'">{{'BUILDING'|translate}}</td>
                                <td>{{subcol.COL_CUS[0].CUS_NAME}}</td>
                                <td class="center" ng-if="tab.read">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-if="tab.read" href="#" ng-click="editSubCol(colleteral,subcol,'286005')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i ng-class="iconEdit"></i></a>
                                        <a ng-if="tab.delete" href="#" ng-click="deleteSubCol(colleteral,subcol,'286005')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i ng-class="iconDelete"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="colleteral.SUB_COL_MACHINE.length > 0">
                    <table class="table table-bordered table-hover" id="sample-table-4">
                        <thead>
                            <tr class="bg-light-grey">
                                <th ng-class="css_th_1">{{'SEQ'|translate}}</th>
                                <th ng-class="css_th_2">{{'SUB_COL_TYPE'|translate}}</th>
                                <th ng-class="css_th_2">{{'MACHINE_NAME'|translate}}</th>
                                <th ng-class="css_th_3">{{'MACHINE_LOCATION'|translate}}</th>
                                <th ng-class="css_th_4">{{'MACHINE_NO'|translate}}</th>
                                <th ng-class="css_th_4">{{'SUB_COLL_OWNER'|translate}}</th>
                                <th ng-class="css_th_6" ng-if="tab.read"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcol in colleteral.SUB_COL_MACHINE">
                                <td>{{$index + 1}}</td>
                                <td>{{subcol.SUB_TYPE.SUB_TYPE}}</td>
                                <td>{{subcol.MACHINE_NAME}}</td>
                                <td>{{subcol.MACHINE_LOCATION}}</td>
                                <td>{{subcol.REGIS_NO}}</td>
                                <td>{{subcol.COL_CUS[0].CUS_NAME}}</td>
                                <td class="center" ng-if="tab.read">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-if="tab.read" href="#" ng-click="editSubCol(colleteral,subcol,'286011')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i ng-class="iconEdit"></i></a>
                                        <a ng-if="tab.delete" href="#" ng-click="deleteSubCol(colleteral,subcol,'286011')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i ng-class="iconDelete"></i></a>
                                        <a ng-if="tab.update && subcol.REGIS_NO.indexOf(',')>0" href="#" ng-click="splitSubCol(colleteral,subcol,'286011')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'SPLIT'|translate}}"><i ng-class="iconSplit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="colleteral.SUB_COL_CONDO.length > 0">
                    <table class="table table-bordered table-hover" id="sample-table-4">
                        <thead>
                            <tr class="bg-light-grey">
                                <th ng-class="css_th_1">{{'SEQ'|translate}}</th>
                                <th ng-class="css_th_2">{{'SUB_COL_TYPE'|translate}}</th>
                                <th ng-class="css_th_2">{{'ROOM_NO'|translate}}</th>
                                <th ng-class="css_th_3">{{'BUILDING_NAME'|translate}}</th>
                                <th ng-class="css_th_4">{{'AREA_METER'|translate}}</th>
                                <th ng-class="css_th_4">{{'SUB_COLL_OWNER'|translate}}</th>
                                <th ng-class="css_th_6" ng-if="tab.read"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcol in colleteral.SUB_COL_CONDO">
                                <td>{{$index + 1}}</td>
                                <td>{{subcol.SUB_TYPE.SUB_TYPE}}</td>
                                <td>{{subcol.ROOM_NO}}</td>
                                <td>{{subcol.BUILDING_NAME}}</td>
                                <td>{{subcol.AREA_METER | number:2}}</td>
                                <td>{{subcol.COL_CUS[0].CUS_NAME}}</td>
                                <td class="center" ng-if="tab.read">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-if="tab.read" href="#" ng-click="editSubCol(colleteral,subcol,'286066')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i ng-class="iconEdit"></i></a>
                                        <a ng-if="tab.delete" href="#" ng-click="deleteSubCol(colleteral,subcol,'286066')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i ng-class="iconDelete"></i></a>
                                        <a ng-if="tab.update && subcol.ROOM_NO.indexOf(',') > 0" href="#" ng-click="splitSubCol(colleteral,subcol,'286066')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'SPLIT'|translate}}"><i ng-class="iconSplit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="colleteral.SUB_COL_OTHERS.length > 0">
                    <table class="table table-bordered table-hover" id="sample-table-4">
                        <thead>
                            <tr class="bg-light-grey">
                                <th ng-class="css_th_1">{{'SEQ'|translate}}</th>
                                <th ng-class="css_th_2">{{'SUB_COL_TYPE'|translate}}</th>
                                <th ng-class="css_th_2">{{'OTHERS_COL'|translate}}</th>
                                <th ng-class="css_th_3">{{'APPR_CUR_NET_TOTAL'|translate}}</th>
                                <th ng-class="css_th_4">{{'OTHERS_PRICE_PAWN'|translate}}</th>
                                <th ng-class="css_th_4">{{'SUB_COLL_OWNER'|translate}}</th>
                                <th ng-class="css_th_6" ng-if="tab.read"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subcol in colleteral.SUB_COL_OTHERS">
                                <td>{{$index + 1}}</td>
                                <td>{{subcol.SUB_TYPE.SUB_TYPE}}</td>
                                <td>{{subcol.OTHERS_COL}}</td>
                                <td>{{subcol.APPR_CUR_NET_TOTAL | number:2}}</td>
                                <td>{{subcol.OTHERS_PRICE_PAWN | number:2}}</td>
                                <td>{{subcol.COL_CUS[0].CUS_NAME}}</td>
                                <td class="center" ng-if="tab.read">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-if="tab.read" href="#" ng-click="editSubCol(colleteral,subcol,'999999')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'EDIT'|translate}}"><i ng-class="iconEdit"></i></a>
                                        <a ng-if="tab.delete" href="#" ng-click="deleteSubCol(colleteral,subcol,'999999')" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'DELETE'|translate}}"><i ng-class="iconDelete"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="height-155"></div>
</div>
