<div class="panel panel-white">
    <div class="panel-heading bg-light-azure no-radius">
        <h5 class="panel-title">{{colAct.COL_ACT_NAME}}</h5>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="90%">{{'DOC_TYPE'|translate}}</th>
                        <th class="center">{{'REQUIRED'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attach in headCol.ATTACH_DOC">
                        <td class="vertical-top">
                            <div><a ng-if="tab.update" href="#" ng-click="upload($index,attach)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'ATTACH_FILE'|translate}}"><i class="fa fa-plus text-large"></i></a> {{attach.NAME}}</div>
                            <ul>
                                <li ng-repeat="file in attach.ATTACH_DOC"><a ng-if="tab.delete" ng-click="deleteAttach($index,attach,file)" tooltip="{{'DELETE_ATTACH'|translate}}"><i class="fa fa-remove text-large"></i></a>  <a target="_blank" href="Home/Download/{{file.ATTACHDOC_RUNNING_ID}}">{{file.DOC_NAME}} </a></li>
                            </ul>
                        </td>
                        <td class="center">
                            <i class="ti-check" ng-if="attach.L_FLAG=='M'"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>