<div ng-controller="subform0300Controller">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="bg-azure" style="height:50px;">
                    <th width="50%"><span class="text-white">{{'DOC_TYPE'|translate}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attach in requestAttach">
                    <td class="vertical-top">
                        <div><a ng-if="!inputDisabled" href="#" ng-click="upload($index,attach)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="{{'ATTACH_FILE'|translate}}"><i class="fa fa-plus text-large"></i></a> {{attach.NAME}}</div>
                        <ul>
                            <li ng-repeat="file in attach.ATTACH_DOC"><a ng-if="!inputDisabled" ng-click="deleteAttach($index,attach,file)" tooltip="{{'DELETE_ATTACH'|translate}}"><i class="fa fa-remove text-large"></i></a>  <a target="_blank" href="Home/Download/{{file.ATTACHDOC_RUNNING_ID}}">{{file.DOC_NAME}} </a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>