<div class="form-group" ng-class="{'has-error':form.CONTACT_DATE.$dirty && form.CONTACT_DATE.$invalid, 'has-success':form.CONTACT_DATE.$valid}">
    <label class="col-sm-3 control-label" for="EVALUATE_DATE">
        {{'CONTACT_DATE'|translate}}<span class="symbol required"></span>
    </label>
    <div class="col-sm-8 no-padding">
        <input required ng-model="formData.CONTACT_DATE" class="form-control no-radius" id="CONTACT_DATE" name="CONTACT_DATE" datepicker-popup="dd/MM/yyyy" is-open="dpOpenState.CONTACT_DATE" ng-click="openDatePicker($event,'CONTACT_DATE')" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="CUSCONTACT_NAME">
        {{'CUSCONTACT_NAME'|translate}}
    </label>
    <div class="col-sm-8 no-padding">
        <input ng-model="formData.CUSCONTACT_NAME" class="form-control no-radius" id="CUSCONTACT_NAME" name="CUSCONTACT_NAME" />
    </div>
</div>
<div class="form-group" ng-class="{'has-error':form.CONTACT_RESULT.$dirty && form.CONTACT_RESULT.$viewValue==undefined, 'has-success':form.CONTACT_RESULT.$viewValue!=undefined && form.CONTACT_RESULT.$viewValue.VALUE != undefined}">
    <label class="col-sm-3 control-label" for="CONTACT_RESULT">
        {{'CONTACT_RESULT'|translate}}<span class="symbol required"></span>
    </label>
    <div class="col-sm-8 no-padding">
        <ui-select ng-required="true" ng-disabled="disabledContactResult" theme="selectize" ng-model="formData.CONTACT_RESULT" name="CONTACT_RESULT" id="CONTACT_RESULT" ng-change="onContactChage()">
            <ui-select-match placeholder="">
                {{$select.selected.NAME}}
            </ui-select-match>
            <ui-select-choices repeat="item in selectContactResult | filter: $select.search">
                <div ng-bind-html="item.NAME | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="REMARK">
        {{'REMARK'|translate}}
    </label>
    <div class="col-sm-8 no-padding">
        <textarea ng-model="formData.REMARK" style="max-width:100%;" class="form-control no-radius" id="REMARK" name="REMARK"></textarea>
    </div>
</div>
<div class="form-group" ng-if="'1'==formData.CONTACT_RESULT.VALUE" ng-class="{'has-error':form.DATE_CUST_APPOINTMENT.$dirty && form.DATE_CUST_APPOINTMENT.$invalid, 'has-success':form.DATE_CUST_APPOINTMENT.$valid && formData.CONFIRM_FLAG=='Y'}">
    <label class="col-sm-3 control-label" for="DATE_CUST_APPOINTMENT">
        {{'DATE_CUST_APPOINTMENT'|translate}}<span class="symbol required"></span>
    </label>
    <div class="col-sm-2 no-padding">
        <input ng-disabled="disabledContactResult"  ng-required="'1'==formData.CONTACT_RESULT.VALUE" ng-model="formData.DATE_CUST_APPOINTMENT" class="form-control no-radius" id="DATE_CUST_APPOINTMENT" name="DATE_CUST_APPOINTMENT" datepicker-popup="dd/MM/yyyy" is-open="dpOpenState.DATE_CUST_APPOINTMENT" ng-click="openDatePicker($event,'DATE_CUST_APPOINTMENT')" />
    </div>
    <label class="col-sm-1 control-label" for="TIME">
        {{'TIME'|translate}}<span class="symbol required" ng-if="'1'==formData.CONTACT_RESULT.VALUE"></span>
    </label>
    <div class="col-md-1 no-padding">
        <input ng-disabled="disabledContactResult" ng-required="'1'==formData.CONTACT_RESULT.VALUE" ng-model="formData.APPOINTMENT_HOUR" id="TIME" class="form-control" type="text" format decimal="0" ng-max="23" ng-min="0" />
    </div>
    <div class="col-md-1 no-padding">
        <input ng-disabled="disabledContactResult" ng-required="'1'==formData.CONTACT_RESULT.VALUE" ng-model="formData.APPOINTMENT_MINUTE" class="form-control" type="text" format decimal="0" ng-max="59" ng-min="0" />
    </div>
</div>
