<div class="modal-header">
    <h3 class="modal-title">{{title1}} <i class="ti-angle-right"></i> {{title2}} </h3><button ng-click="cancel()" class="btn btn-o btn-squared modalClose">{{'CLOSE'|translate}}</button>
</div>
<div class="modal-body bg-light-grey">
    <form name="form" role="form" class="form-horizontal" novalidate>        
        <div class="form-group" ng-class="{'has-error':form.DEV_NAME.$dirty && form.DEV_NAME.$invalid, 'has-success':form.DEV_NAME.$valid}">
            <label class="col-sm-4 control-label" for="DEV_NAME">
                {{'DEV_NAME'|translate}}<span class="symbol required"></span>
            </label>
            <div class="col-sm-8">
                <input required type="text" placeholder="" class="form-control" id="DEV_NAME" name="DEV_NAME" ng-model="formData.DEV_NAME">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-o" ng-disabled="btnDisabled" ng-click="save(form)">
        <i class="glyphicon glyphicon-floppy-save"></i> {{'BUTTON.SAVE'|translate}}
    </button>
    <button class="btn btn-primary btn-o" ng-disabled="btnDisabled" ng-click="delete()">
        <i class="glyphicon glyphicon-remove-circle"></i> {{'BUTTON.DELETE'|translate}}
    </button>
    <button class="btn btn-primary btn-o" ng-disabled="btnDisabled" ng-click="cancel()">
        <i class="glyphicon glyphicon-chevron-left"></i> {{'BUTTON.BACK'|translate}}
    </button>
</div>