<div class="form-group" ng-class="{'has-error':form.OU_ID.$invalid && form.OU_ID.$dirty,'has-success':form.OU_ID.$valid}">
    <label class="col-sm-3 control-label" for="OU_ID">
        {{'OU_ID'|translate}} <span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <input ng-required="true" ng-readonly="formData.OU_TYPE=='I' || formData.OU_ID != ''" type="text" required class="form-control" id="OU_ID" name="OU_ID" ng-model="formData.OU_ID">
    </div>
</div>
<div class="form-group" ng-class="{'has-error':form.OU_NAME.$invalid && form.OU_NAME.$dirty,'has-success':form.OU_NAME.$valid}">
    <label class="col-sm-3 control-label" for="OU_NAME">
        {{'OU_NAME'|translate}} <span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <input ng-required="true" ng-readonly="formData.OU_TYPE=='I'" type="text" required class="form-control" id="OU_NAME" name="OU_NAME" ng-model="formData.OU_NAME">
    </div>
</div>
<div class="form-group" ng-class="{'has-error':form.COST_CENTER.$invalid && form.COST_CENTER.$dirty,'has-success':form.COST_CENTER.$valid}">
    <label class="col-sm-3 control-label" for="OU_ID">
        {{'COST_CENTER'|translate}} <span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <input ng-required="true" ng-readonly="formData.OU_TYPE=='I'" type="text" required class="form-control" id="COST_CENTER" name="COST_CENTER" ng-model="formData.COST_CENTER">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="OU_NAME">
        {{'OU_TYPE'|translate}}
    </label>
    <div class="col-sm-8" ng-switch="formData.OU_TYPE">
        <input ng-switch-when="I" readonly type="text" required class="form-control" id="OU_NAME" name="OU_NAME" value="{{'I_APPRAISER'|translate}}" />
        <input ng-switch-when="E" readonly type="text" required class="form-control" id="OU_NAME" name="OU_NAME" value="{{'E_APPRAISER'|translate}}" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="RECORD_STATUS">
    </label>
    <div class="col-sm-8">
        <div class="checkbox clip-check check-primary">
            <input type="checkbox" id="CONFIRM_FLAG" ng-model="formData.RECORD_STATUS" ng-true-value="'Y'" ng-false-value="'N'" />
            <label for="CONFIRM_FLAG">
                {{'INACTIVE'|translate}}
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">
    </label>
    <fieldset class="col-sm-8" >
        <legend>หน้าที่</legend>
        <div class="checkbox clip-check check-primary" ng-repeat="item in formData.ORGROLES">
            <input type="checkbox" id="ROLE_{{item.ROLE_RUNNING_ID}}" ng-model="item.ISALLOW" />
            <label for="ROLE_{{item.ROLE_RUNNING_ID}}">
                {{item.ROLE_NAME}}
            </label>
        </div>
    </fieldset>
</div>
