<div class="form-group">
    <label class="col-sm-3 control-label" for="OU_ID">
        {{'COST_CENTER'|translate}}
    </label>
    <div class="col-sm-8">
        <input ng-readonly="formData.OU_TYPE=='I'" type="text" required class="form-control" id="COST_CENTER" name="COST_CENTER" ng-model="formData.COST_CENTER">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="OU_ID">
        {{'OU_ID'|translate}}
    </label>
    <div class="col-sm-8">
        <input ng-readonly="formData.OU_TYPE=='I'" type="text" required class="form-control" id="OU_ID" name="OU_ID" ng-model="formData.OU_ID">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="OU_NAME">
        {{'OU_NAME'|translate}}
    </label>
    <div class="col-sm-8">
        <input ng-readonly="formData.OU_TYPE=='I'" type="text" required class="form-control" id="OU_NAME" name="OU_NAME" ng-model="formData.OU_NAME">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="OU_NAME">
        {{'OU_TYPE'|translate}}
    </label>
    <div class="col-sm-8" ng-switch="formData.OU_TYPE">
        <input ng-switch-when="I" readonly type="text" required class="form-control" id="OU_NAME" name="OU_NAME" value="{{'I_APPRAISER'|translate}}" />
        <input ng-switch-when="E" readonly type="text" required class="form-control" id="OU_NAME" name="OU_NAME" value="{{'E_APPRAISER'|translate}}" />
    </div>
</div>
<div class="form-group" ng-repeat="item in formData.ORGROLES">
    <label class="col-sm-3 control-label">
    </label>
    <div class="col-sm-8">
        <div class="checkbox clip-check check-primary">
            <input type="checkbox" id="ROLE_{{item.ROLE_RUNNING_ID}}" ng-model="item.ISALLOW" />
            <label for="ROLE_{{item.ROLE_RUNNING_ID}}">
                {{item.ROLE_NAME}}
            </label>
        </div>
    </div>
</div>