<div class="modal-header">
    <h3 class="modal-title">{{'PROJECT_COLLETERAL'|translate}}</h3><button ng-click="cancel()" class="btn btn-o btn-squared modalClose">{{'CLOSE'|translate}}</button>
</div>
<div class="modal-body bg-light-grey">
    <div ng-include="includeUrl"></div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-primary btn-o" ng-disabled="btnDisabled" ng-click="cancel()">
            <i class="glyphicon glyphicon-chevron-left"></i> {{'BUTTON.BACK'|translate}}
        </button>
    </div>
</div>