<div class="form-group" ng-class="{'has-error':form.UNIT_TYPE.$dirty && form.UNIT_TYPE.$invalid, 'has-success':form.UNIT_TYPE.$valid}">
    <label class="col-sm-4 control-label" for="PROJECT_UT_RUNNING_ID">
        {{'UNIT_NAME'|translate}}<span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" readonly type="text" required class="form-control" id="UNIT_TYPE" name="UNIT_TYPE" ng-model="headCol.PROJECT_UNIT_TYPE.UNIT_NAME">
    </div>
</div>
<div class="form-group" ng-class="{'has-error':form.PROJECT_ZONE_RUNNING_ID.$dirty && form.PROJECT_ZONE_RUNNING_ID.$viewValue==undefined, 'has-success':form.PROJECT_ZONE_RUNNING_ID.$viewValue!=undefined && form.PROJECT_ZONE_RUNNING_ID.$viewValue.ZONE_NAME!=undefined}">
    <label class="col-sm-4 control-label" for="ZONE">
        {{'ZONE'|translate}}<span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <ui-select ng-disabled="inputDisabled" ng-required="true" theme="selectize" ng-model="formData.PROJECT_ZONE_RUNNING_ID" id="PROJECT_ZONE_RUNNING_ID" name="PROJECT_ZONE_RUNNING_ID" on-select="zoneChange($item,$index)">
            <ui-select-match placeholder="">
                {{$select.selected.ZONE_NAME}}
            </ui-select-match>
            <ui-select-choices repeat="item in selectProjectZone | filter: $select.search">
                <div ng-bind-html="item.ZONE_NAME | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">
        {{'PHASE'|translate}}
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" type="text" readonly class="form-control" ng-model="formData.PROJECT_ZONE_RUNNING_ID.PHASE_NAME" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="PROJ_PRICE">
        {{'PROJ_PRICE'|translate}}
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" format type="text" placeholder="" class="form-control" id="PROJ_PRICE" name="PROJ_PRICE" ng-model="formData.PROJ_PRICE">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="PROJ_PRICE_MIN">
        จำนวนหลัง
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" format decimal="0" type="text" class="form-control" id="QUANTITY" name="QUANTITY" ng-model="formData.QUANTITY">
    </div>
</div>