<div class="form-group" ng-class="{'has-error':form.UNIT_NAME.$dirty && form.UNIT_NAME.$invalid, 'has-success':form.UNIT_NAME.$valid}">
    <label class="col-sm-4 control-label" for="UNIT_NAME">
        {{'UNIT_NAME'|translate}}<span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <input type="text" ng-disabled="inputDisabled" required class="form-control" id="UNIT_NAME" name="UNIT_NAME" ng-model="formData.PROJECT_UNIT_TYPE.UNIT_NAME">
    </div>
</div>
<div class="form-group" ng-class="{'has-error':form.PROJECT_ZONE_RUNNING_ID.$dirty && form.PROJECT_ZONE_RUNNING_ID.$viewValue==undefined, 'has-success':form.PROJECT_ZONE_RUNNING_ID.$viewValue!=undefined && form.PROJECT_ZONE_RUNNING_ID.$viewValue.ZONE_NAME!=undefined}">
    <label class="col-sm-4 control-label" for="ZONE">
        {{'ZONE'|translate}}<span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <ui-select ng-disabled="inputDisabled" ng-required="true" theme="selectize" ng-model="formData.PROJECT_UNIT_TYPE.PROJECT_ZONE_RUNNING_ID" id="PROJECT_ZONE_RUNNING_ID" name="PROJECT_ZONE_RUNNING_ID" on-select="zoneChange($item,$index)">
            <ui-select-match placeholder="">
                {{$select.selected.ZONE_NAME}}
            </ui-select-match>
            <ui-select-choices repeat="item in selectProjectZone | filter: $select.search">
                <div ng-bind-html="item.ZONE_NAME | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">
        {{'PHASE'|translate}}
    </label>
    <div class="col-sm-8">
        <input ng-disabled="inputDisabled" type="text" readonly class="form-control" ng-model="formData.PROJECT_UNIT_TYPE.PROJECT_ZONE_RUNNING_ID.PHASE_NAME" />
    </div>
</div>
<!--<div class="form-group" ng-class="{'has-error':form.UNIT_TYPE.$dirty && form.UNIT_TYPE.$viewValue==undefined, 'has-success':form.UNIT_TYPE.$viewValue!=undefined && form.UNIT_TYPE.$viewValue.VALUE!=undefined}">
    <label class="col-sm-4 control-label" for="UNIT_TYPE">
        {{'UNIT_TYPE'|translate}}<span class="symbol required"></span>
    </label>
    <div class="col-sm-8">
        <ui-select ng-disabled="inputDisabled" ng-required="true" theme="selectize" ng-model="formData.PROJECT_UNIT_TYPE.UNIT_TYPE" id="UNIT_TYPE" name="UNIT_TYPE">
            <ui-select-match placeholder="">
                {{$select.selected.NAME}}
            </ui-select-match>
            <ui-select-choices repeat="item in selectProjectUnitType | filter: $select.search">
                <div ng-bind-html="item.NAME | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>-->
<div class="form-group">
    <label class="col-sm-4 control-label" for="UNIT_DETAIL">
        {{'DETAIL'|translate}}
    </label>
    <div class="col-sm-8">
        <input type="text" ng-disabled="inputDisabled" class="form-control" id="UNIT_DETAIL" name="UNIT_DETAIL" ng-model="formData.PROJECT_UNIT_TYPE.UNIT_DETAIL">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="AREA_METER">
        {{'AREA_METER'|translate}}
    </label>
    <div class="col-sm-8">
        <input type="text" format ng-disabled="inputDisabled" class="form-control" id="AREA_METER" name="AREA_METER" ng-model="formData.PROJECT_UNIT_TYPE.AREA_METER">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="UNIT_PROJ_PRICE">
        {{'UNIT_PROJ_PRICE'|translate}}
    </label>
    <div class="col-sm-8">
        <input type="text" format ng-disabled="inputDisabled" class="form-control" id="UNIT_PROJ_PRICE" name="UNIT_PROJ_PRICE" ng-model="formData.PROJECT_UNIT_TYPE.UNIT_PROJ_PRICE">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="UNIT_PROJ_PRICE">
        ราคาเพิ่ม-ลด พื้นที่(บาท/ตร.ม.)
    </label>
    <div class="col-sm-8">
        <input type="text" format ng-disabled="inputDisabled" class="form-control" id="UNIT_PRICE_METER" name="UNIT_PRICE_METER" ng-model="formData.PROJECT_UNIT_TYPE.UNIT_PRICE_METER" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="UNIT_PROJ_PRICE">
        ราคาอื่นๆเพิ่ม-ลด(บาท)
    </label>
    <div class="col-sm-8">
        <input type="text" format ng-disabled="inputDisabled" class="form-control" id="UNIT_PRICE_OTHER" name="UNIT_PRICE_OTHER" ng-model="formData.PROJECT_UNIT_TYPE.UNIT_PRICE_OTHER" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="UNIT_PROJ_PRICE">
        รายละเอียดอื่นๆ
    </label>
    <div class="col-sm-8">
        <input type="text" ng-disabled="inputDisabled" class="form-control" id="UNIT_PRICE_OTHER_DETAIL" name="UNIT_PRICE_OTHER_DETAIL" ng-model="formData.PROJECT_UNIT_TYPE.UNIT_PRICE_OTHER_DETAIL" />
    </div>
</div>