<!-- ที่ดินเปล่า -->
<!-- รายละเอียดหลักประกัน -->
<fieldset>
    <legend>ภาพถ่ายแสดง</legend>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="HEAD_COL_TYPE_ID">
            {{'PICTURE'|translate}} <a ng-click="uploadPicture()"><i class="fa fa-picture-o"></i></a>
        </label>
        <div class="col-sm-8">
            <div class="row padding-15">
                <img ng-if="formData.PICTURE.ATTACHDOC_RUNNING_ID>0" ng-src="nn1/b/{{formData.PICTURE.ATTACHDOC_RUNNING_ID}}/0/{{random}}" width="200" height="300" />

                <img ng-if="formData.JMP_RUNNING_ID > 0 && formData.PICTURE.ATTACHDOC_RUNNING_ID==0" ng-src="nn1/a/{{formData.JMP_RUNNING_ID}}/PICTURE/{{random}}" width="200" height="300" />

                <img ng-if="formData.MARKETSTOCK_RUNNING_ID > 0 && formData.PICTURE.ATTACHDOC_RUNNING_ID==0" ng-src="nn1/c/{{formData.MARKETSTOCK_RUNNING_ID}}/PICTURE/{{random}}" width="200" height="300" />
            </div>
        </div>
    </div>

</fieldset>

<!-- ภาพถ่ายแสดงข้อมูลอื่น -->
<fieldset>
    <legend>ภาพถ่ายแสดงข้อมูลอื่น</legend>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="HEAD_COL_TYPE_ID">
            ภาพถ่ายแสดงข้อมูลอื่น <a ng-click="uploadPictureSign()"><i class="fa fa-picture-o"></i></a>
        </label>
        <div class="col-sm-8">
            <div class="row padding-15">
                <img ng-if="formData.PICTURE_SIGN.ATTACHDOC_RUNNING_ID>0" ng-src="nn1/b/{{formData.PICTURE_SIGN.ATTACHDOC_RUNNING_ID}}/0/{{random}}" width="200" height="300" />

                <img ng-if="formData.JMP_RUNNING_ID > 0 && formData.PICTURE_SIGN.ATTACHDOC_RUNNING_ID==0" ng-src="nn1/a/{{formData.JMP_RUNNING_ID}}/PICTURE_SIGN/{{random}}" width="200" height="300" />

                <img ng-if="formData.MARKETSTOCK_RUNNING_ID > 0 && formData.PICTURE_SIGN.ATTACHDOC_RUNNING_ID==0" ng-src="nn1/c/{{formData.MARKETSTOCK_RUNNING_ID}}/PICTURE_SIGN/{{random}}" width="200" height="300" />
            </div>
        </div>
    </div>
</fieldset>